En el caso de clasificación binaria podemos pensar en un sistema de prediccion en el que nuestro modelo tiene que decirnos si un cliente se va quedar o no en la empresa a partir de valores como su edad, genero, etc.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv('./churn_data1.csv', delimiter=";")
data

,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,1,1,1,29.85,29.85,0
1,34,1,2,0,2,56.95,1889.5,0
2,2,1,1,1,2,53.85,108.15,1
3,45,0,2,0,3,42.30,1840.75,0
4,2,1,1,1,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...
7037,72,1,3,1,3,21.15,1419.4,0
7038,24,1,2,1,2,84.80,1990.5,0
7039,72,1,2,1,4,103.20,7362.9,0
7040,11,0,1,1,1,29.60,346.45,0
7041,4,1,1,1,2,74.40,306.6,1

In [ ]:
# X_data = data.iloc[:,:7].astype(float)
X_data = data.iloc[:,:7]
X_data = X_data.to_numpy()
X_data

array([[1, 0, 1, ..., 1, 29.85, '29.85'],
       [34, 1, 2, ..., 2, 56.95, '1889.5'],
       [2, 1, 1, ..., 2, 53.85, '108.15'],
       ...,
       [72, 1, 2, ..., 4, 103.2, '7362.9'],
       [11, 0, 1, ..., 1, 29.6, '346.45'],
       [4, 1, 1, ..., 2, 74.4, '306.6']], dtype=object)

In [ ]:
Y_data = data['Churn']
Y_data, type(Y_data)

(0       0
 1       0
 2       1
 3       0
 4       1
        ..
 7037    0
 7038    0
 7039    0
 7040    0
 7041    1
 Name: Churn, Length: 7042, dtype: int64, pandas.core.series.Series)

In [ ]:
# Dividimos los valores o leemos desde dataframe para entrenar y evaluar
X_train, X_test, Y_train, Y_test = train_test_split(
    X_data, Y_data, test_size=0.1, shuffle=True, random_state=1234)

X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((6337, 7), (6337,), (705, 7), (705,))

In [ ]:
type(X_train)

numpy.ndarray

In [ ]:
# Normalizamos entre 0 y 1

print(X_train.max(axis=0), X_train.min(axis=0))

X_norm = (X_train - X_train.min(axis=0))/(X_train.max(axis=0)-X_train.min(axis=0))

print(X_norm.max(axis=0), X_norm.min(axis=0))

[72 1 3 1 4 118.75 '999.9'] [0 0 1 0 1 18.25 ' ']

TypeError: ignored

In [ ]:
class Perceptron():
  def __init__(self, size):
    self.w = np.random.randn(size) 
    self.ws = []
    
  def __call__(self, w, x):
    return np.dot(x, w) > 0 

  def fit(self, x, y, epochs, lr):
    x = np.c_[np.ones(len(x)), x]
    for epoch in range(epochs):
        # Batch Gradient Descent
        y_hat = self(self.w, x)  
        # función de pérdida (MSE)
        l = 0.5*(y_hat - y)**2
        # derivadas
        dldh = (y_hat - y)
        dhdw = x
        dldw = np.dot(dldh, dhdw)
        # actualizar pesos
        self.w = self.w - lr*dldw
        # guardar pesos para animación
        self.ws.append(self.w.copy())

In [ ]:
np.random.seed(42)

perceptron = Perceptron(3)
epochs, lr = 10, 0.01
perceptron.fit(X_train, Y_train, epochs, lr)

In [ ]:
# últimos pesos encontrados

w = perceptron.ws[-1]
w

In [ ]:
# Predecir un valor
# x_new = 
X_new = X_test[:1]
y_pred = perceptron(w, x_new)
y_pred # Iris Setosa